:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-blue-200: hsl(224, 100%, 95%);
  --clr-blue-400: hsl(220, 100%, 64%);
  --clr-blue-600: hsl(228, 100%, 60%);
  --clr-blue-700: hsl(228, 99%, 58%);
  --clr-black: hsl(0, 0%, 0% / 0.25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--clr-blue-600);
  font-family: "Inter", sans-serif;
  color: var(--clr-white);
  font-size: 1.0625rem;
  font-weight: 400;
  color: var(--clr-white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-blue-400);
  font-size: 0.875rem;
  padding: 1.5rem 3rem;
}

.header__panel {
  display: none;
}

.header__menu-btn .header__icon-close {
  display: none;
}

main {
  flex: 1;
  display: flex;
}

.hero {
  display: flex;
  width: 100%;
  background-color: var(--clr-blue-400);
  gap: 1px;
}

.hero__text-box {
  flex: 0.9;
  background-color: var(--clr-blue-600);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 3rem;
}

.hero__heading {
  font-size: clamp(2.25rem, 5vw, 3.5rem);
  font-weight: 500;
  line-height: 1.1;
  max-width: 11ch;
}

.hero__description {
  max-width: 35ch;
  margin-top: 3rem;
  line-height: 1.5;
}

.hero__stat-box {
  flex: 1.1;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-blue-400);
  gap: 1px;
}

.hero__stat-row-1,
.hero__stat-row-2 {
  flex: 1;
  display: flex;
  gap: 1px;
}

.hero__stat {
  flex: 1;
  background-color: var(--clr-blue-600);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.hero__stat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(1.75rem, 3vw, 2.25rem);
}

.hero__icons {
  width: 1em;
  height: 1em;
  object-fit: contain;
}

.hero__stat-title {
  font-weight: 500;
}

.hero__stat-label {
  display: block;
  font-size: 1.0625rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.hero__stat-text {
  font-size: 0.875rem;
  line-height: 1.5;
}

.hero__description,
.hero__stat-text {
  color: var(--clr-blue-200);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--clr-blue-400);
  font-size: 0.875rem;
  padding: 1.5rem 3rem;
}
